.content {
    padding: 30px 5%;
}
a {
    text-decoration: none;
}
a:hover {
    color: orange;
}

.category {
    /* margin-top: 10px; */
    border-bottom: 2px solid rgb(229, 229, 229);
}
.category:hover {
    background-color: rgb(229, 229, 229);
}

.product-description {
    margin-top: 20px;
}

img {
    float: left;
}

.card {
    margin-top: 20px;
}

.navbar-text {
    margin-right: 20px;
}

.username {
    margin-right: 20px;
}

.list-group {
    width: 200px;
    position: fixed;
}

.any-info {
    margin-left: 300px;
}

.btn-group {
    width: 100%;
    text-align: left;
}

