{% extends 'base.html' %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block content %}

{% if cart.get_total_price == 0 %}
<h2>Корзина пуста</h2>
{% else %}
<p class="h1">Ваша корзина</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Фото</th>
            <th scope="col">Товар</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена 1шт</th>
            <th scope="col">Цена в корзине</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="" height="50px">
                {% else %}
                <img src="{% static 'images/no_photo.png' %}" alt="">
                {% endif %}
            </td>
            <td><a href="{% url 'get_product' product.id %}">{{ product.name }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url 'cart_remove' product.id %}">Удалить</a></td>
        </tr>
        
        {% endwith %}
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h3>Итого:</h3></td>
            <td><h3> {{ cart.get_total_price }} Руб</h2></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% if cart.get_total_price > 0 %}
<a href="{% url 'order_create' %}" class="btn btn-primary">Заказать</a>
{% endif %}
<a href="{{ prev_url }}">Продолжить покупки</a>
{% endif %}

{% endblock %}

