{% extends 'base.html' %}
{% load static %}



{% block title %}
Профиль {{ user.username }}
{% endblock %}

{% block content %}
{% include 'inc/_sidebar_profile.html' %}
<div class="any-info">
    {% if profile.image %}
    <img src="{{ profile.image.url }}" style="border-radius: 50%;" width="250px" height="250px">
    {% else %}
    <img src="{% static 'images/no_photo.png' %}" style="border-radius: 50%;" width="250px" height="250px">
    {% endif %}
    
    <h6>Имя пользователя: {{ user.username }}</h6>
    <h6>Эл. почта: {{ user.email }}</h6>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>

</div>

{% endblock %}