<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">LOGO SHOP</a>
        <form class="d-flex">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            <span class="navbar-text">
                <a href="{% url 'get_favourites' %}">Избранное </a>
            </span>
            <span class="navbar-text">
                <a href="{% url 'cart_detail' %}">Корзина </a>
            </span>
            {% if request.user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle  username" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'get_user' user.profile.slug %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'get_orders' user.profile.slug %}">Заказы</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </div>
            <!-- <span class="navbar-text">
                | <a href="{% url 'logout' %}">Log Out</a>
            </span> -->
            {% else %}
            <span class="navbar-text">
                <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">login</a>
            </span>
            {% endif %}

        </form>
    </div>
</nav>
<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="{% url 'get_categories' %}">Категории</a>
    <a class="nav-link" href="{% url 'get_brands' %}">Бренды</a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#"></a>
</nav>