{% if page_obj.has_other_pages %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page_item">
            <a href="?page={{ page_obj.previous_page_number }}{{ query_string }}" class="page-link">Назад</a>
        </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item active">
            <a href="?page={{ page }}{{ query_string }}" class="page-link">{{ page }}</a>
        </li>
        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %} <li class="page-item">
            <a href="?page={{ page }}{{ query_string }}" class="page-link">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page_item">
                <a href="?page={{ page_obj.next_page_number }}{{ query_string }}" class="page-link">Вперед</a>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}