{% extends 'base.html' %}

{% block title %}
Категории таваров
{% endblock %}

{% block content %}
{% for category in categories %}
<div class="d-flex position-relative category">
  {% if category.logo %}
    <img src="{{ category.logo.url }}" class="flex-shrink-0 me-3" alt="..." width="100px">
  {% endif %}
  
    <div>
      <h5 class="mt-0">{{ category.name }}</h5>
      <p>{{ category.info }}</p>
      <a href="{% url 'get_products' category.slug %}" class="stretched-link"></a>
    </div>
  </div>
{% endfor %}
{% endblock %}