{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-description">
    {% if product.image %}
    <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" width="400px" alt="..."></a>
    {% endif %}
    <h2 class="name-product">{{ product.name }}</h2>
    <h5>{{ product.total_rating }} &#9733;</h5>
    <h3>{{product.price}} руб</h3>
    <p>Бренд: {{ product.brand.name }}</p>
    {% if product.quantity %}
    <form action="{% url 'cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ cart_product_form.as_p }}
        <button class="btn btn-primary" type="submit">В корзину</button>
        <a href="{% url 'add_favourites_item' product.id %}" class="btn">В избранное</a>
    </form>
    {% else %}
    <p>НЕТ В НАЛИЧИИ</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Характеристики</th>
                <th scope="col">Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features %}
            <tr>
                {% if feature.value_float and feature.value_text %}
                <td>{{ feature.feature }}</td>
                <td>{{ feature.value_float }} {{ feature.value_text }}</td>
                {% elif feature.value_float %}
                <td>{{ feature.feature }}</td>
                <td>{{ feature.value_float }}</td>
                {% elif feature.value_text %}
                <td>{{ feature.feature }} </td>
                <td>{{ feature.value_text }}</td>
                {% else %}
                <td>{{ feature.feature }} : -</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>Отзывы о {{ product.name }}</h3>
    <h4>Общий рейтинг: {{ product.total_rating }} &#9733;</h4>
    {% if feedback_exists %}
    <p>Вы уже оставили свой отзыв</p>
    {% else %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'create_feedback' product.id %}" class="btn btn-primary">Написать отзыв</a>
    {% else %}
    <a href="{% url 'login' %}">Войдите, чтобы оставить отзыв</a>
    {% endif %}

    {% endif %}
    {% for feedback in product.feedbacks.all %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ feedback.user.username }}</h5>
            <h5 class="card-title"> {{ feedback.rating }} &#9733;</h5>
            <p class="card-text">{{ feedback.text }}</p>
            {% if feedback.images %}
            {% for image in feedback.images.all %}
            <img src="{{ image.image.url }}" alt="" height="100px">
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer">
            {{ feedback.created_at}} 
            {% if feedback.user == request.user %}
            <a href="{% url 'remove_feedback' feedback.id %}">Удалить</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}

</html>