{% extends 'base.html' %}

{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}
{% if products.count == 0 %}
<h2>Нет товаров этой категории</h2>
<a href="{{ prev_url }}">Вернуться назад</a>
{% else %}
{% for product in products %}
<div class="card">
    {% if product.image %}
    <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" height="125px" alt="..."></a>
    {% endif %}
    <div class="card-body">
        <a href="{% url 'get_product' product.pk %}">
            <h5 class="card-title">{{ product.name }}</h5>
        </a>
        <p class="card-text">Цена: {{ product.price }} Руб</p>
    </div>
    {% if product.quantity %}
    <form action="{% url 'cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ cart_product_form.as_p }}
        <button class="btn btn-primary" type="submit">В корзину</button>
        <a href="{% url 'add_favourites_item' product.id %}" class="btn">В избранное</a>
    </form>
    {% else %}
    <div class="card-footer">
        <span>НЕТ В НАЛИЧИИ</span>
        <a href="{% url 'add_favourites_item' product.id %}" class="btn">В избранное</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock %}